.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #010409;
  z-index: 999;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px 0;
}

.logo {
  color: white;
  cursor: pointer;
}

.menu {
  color: white;
  cursor: pointer;
  z-index: 999;
}