.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: #161b22;
  height: 100vh;
  z-index: 9999;
  transition: 0.3s;
  transform: translateX(100%);
}

.sidebarActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: #161b22;
  height: 100vh;
  z-index: 9999;
  transform: translateX(0);
  transition: 0.3s;
}
