* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: #161b22;
  height: 100vh;
  z-index: 100;
  transition: .3s;
  transform: translateX(100%);
}

.active {
  transform: translateX(0);
  transition: .3s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 450px) {
  .sidebar {
    align-items: center;
    width: 100%;
  }
}